{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Studio landing page.">
    <meta name="author" content="Devcrud">
    <title>Strategy</title>

    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">

    <!-- Bootstrap + Creative Studio main styles -->
	<link rel="stylesheet" href="{% static 'assets/css/creative-studio.css' %}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    {% block content %} 
    {% endblock %}


    <!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap affix -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Creative Studio js -->
    <script src="{% static 'assets/js/creative-studio.js' %}"></script>

</body>
</html>
